@model BlogicCRM.Models.Client

@{
    ViewData["Title"] = "Smazat klienta";
}

<h1>Smazat klienta</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<div>
    <p>Opravdu chcete smazat tohoto klienta?</p>
    <dl class="row">
        <dt class="col-sm-2">Jméno</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Příjmení</dt>
        <dd class="col-sm-10">@Model.LastName</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Smazat</button>
    <a asp-action="Index" class="btn btn-secondary">Zpět na seznam klientů</a>
</form>
